@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer

<h1>@SharedLocalizer.GetLocalizedHtmlString("CariersInfo")</h1>
