@using AspNetCoreTemplate.Common
@model AspNetCoreTemplate.Web.ViewModels.Addresses.LocationIndexViewModel

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Locations.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var location in Model.Locations)
        {
            <div class="media col-md-4">
                <div class="media-body">
                    <h5 class="mt-0"><a asp-controller="Areas" asp-action="All" asp-route-id="@location.AddressId">@location.Name </a></h5>
                </div>
            </div>
        }
    </div>
}

<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Address" asp-action="Create">Create New Location</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Users" asp-action="NavBarAdmin">Back</a>
</div>