@model AspNetCoreTemplate.Web.ViewModels.Locations.CreateLocationsInputModel
@{
    this.ViewData["Title"] = "Street Create";
    var cities = Model.Cities.Select(x => new SelectListItem(x.CityName, x.Id.ToString()));
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create1">
    <div>
        <label asp-for="CityId"></label>
        <select asp-for="CityId" asp-items="cities" class="form-control"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
<a class="btn btn-danger" asp-area="" asp-controller="Streets" asp-action="Create">Back</a>
<a class="btn btn-danger" asp-area="" asp-controller="Cities" asp-action="Create">Create City</a>