@{
    this.ViewData["Title"] = "Admin Panel";
}

<!--<div class="row">
    <div class="media col-md-4">
        <img src="" width="100" class="mr-3" alt="">
        <div class="media-body">
            <h5 class="mt-0"><a href=""></a></h5>
        </div>
    </div>
</div>-->

    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Create">Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="All">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="All">Role</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Create">User</a>
        </li>
    </ul>