
@model AspNetCoreTemplate.Web.ViewModels.Users.EmailModel
@{
    ViewData["Title"] = "SendgridEmail";
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });</script>

<h2>Send Email whit email: @Model.From</h2>
<form asp-action="SendEmail" asp-controller="Users" method="post">
    <div>
        <input type="hidden" asp-for="OriginalEmail" class="form-control" value="@Model.OriginalEmail" />
        <span asp-validation-for="OriginalEmail" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="From" class="form-control" value="@Model.From" />
        <span asp-validation-for="From" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="UserId" class="form-control" value="@Model.UserId" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="To"></label>
        <input asp-for="To" class="form-control" />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Body"></label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Send Email" />

</form>
